<!-- bestSeller section  -->
<section id="bestSeller">
    <h3 translate>Best Seller</h3>
    <div class="bestSeller-item d-flex">
        <img class="img-thumbnail" src="../../../../../assets/imgs/BestSeller/1.png" alt="">
        <div class="d-flex flex-column">
            <span>New Design</span>
            <div id="star-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <span>$100</span>
        </div>
    </div>
    <div class="bestSeller-item d-flex">
        <img class="img-thumbnail" src="../../../../../assets/imgs/BestSeller/2.png" alt="">
        <div class="d-flex flex-column">
            <span>Nam Libro</span>
            <div id="star-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <span>$100</span>
        </div>
    </div>
    <div class="bestSeller-item d-flex">
        <img class="img-thumbnail" src="../../../../../assets/imgs/BestSeller/3(3).png" alt="">
        <div class="d-flex flex-column">
            <span> Desired</span>
            <div id="star-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <span>$100</span>
        </div>
    </div>
</section>
<!-- bestSeller section  -->