<!-- sponser section  -->
<section id="sponser" class="mt-4 d-none d-sm-block">
    <div class="container">
        <div class="row">
            <img class="img-fluid" src="../../../../../assets/imgs/sponser/1.png" alt="">
            <img class="img-fluid" src="../../../../../assets/imgs/sponser/2.png" alt="">
            <img class="img-fluid" src="../../../../../assets/imgs/sponser/3.png" alt="">
            <img class="img-fluid" src="../../../../../assets/imgs/sponser/4.png" alt="">
            <img class="img-fluid" src="../../../../../assets/imgs/sponser/2.png" alt="">
            <img class="img-fluid" src="../../../../../assets/imgs/sponser/1.png" alt="">
        </div>
    </div>

</section>
<!-- sponser section  -->