<!-- banner section  -->
<section id="banner" class="d-flex ">
    <img class="img-fluid d-none d-lg-block" src="../../../../../assets/imgs/banner/4.png" alt="">
    <div class="towbanner text-center">
        <img class="img-fluid" src="../../../../../assets/imgs/banner/1.png" alt="">
        <img class="img-fluid" src="../../../../../assets/imgs/banner/2.png" alt="">
    </div>
    <img class="img-fluid d-none d-lg-block" src="../../../../../assets/imgs/banner/3.png" alt="">
</section>
<!-- banner section  -->