<div id="Terms" class="my-5 signUp">
    <div class="container text-center">
        <h1 translate>Terms & Condtions</h1>
        <nav aria-label="Page breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page" translate>Home</li>
                <li class="breadcrumb-item" translate>Terms & Condtions</li>
            </ol>
        </nav>
        <div class="row">
            <div class="mt-5  Signcontent" id="TermsContent">
                <h1 translate>Intellectual Property</h1>
                <p translate>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nostrum excepturi facere
                    aut
                    fugiat architecto, ipsum repellendus impedit magnam totam laboriosam dolores tempora est
                    voluptate ipsa possimus numquam. Deleniti, excepturi.</p>
                <h1 translate>Termination</h1>
                <p translate>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nostrum excepturi facere
                    aut
                    fugiat architecto, ipsum repellendus impedit magnam totam laboriosam dolores tempora est
                    voluptate ipsa possimus numquam. Deleniti, excepturi.</p>
                <h1 translate>Changes to this Agreement</h1>
                <p translate>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nostrum excepturi facere
                    aut
                    fugiat architecto, ipsum repellendus impedit magnam totam laboriosam dolores tempora est
                    voluptate ipsa possimus numquam. Deleniti, excepturi.</p>
                <h1 translate>Contact us</h1>
                <p translate> If you have any questions about this agreement, please contact us by filling this <a
                        routerLink='/contact' translate>contact form</a>.</p>
            </div>

        </div>
    </div>
</div>