<div id="aboutUs" class="my-5 signUp">
    <div class="container">
        <h1 class="text-center" translate>About US</h1>
        <nav aria-label="Page breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page" translate>Home</li>
                <li class="breadcrumb-item" translate>about Us</li>
            </ol>
        </nav>
        <div class="aboutChaning my-5">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="../../../../assets/imgs/aboutUs/1.png" alt="">
                    <div class="chaing d-none d-md-block">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <h4 translate>Verified Sellers</h4>
                    <p translate>In our vision this product would only be offered by verified sellers</p>
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/imgs/aboutUs/2.png" alt="">
                    <div class="chaing d-none d-md-block">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <h4 translate>Verified Sellers</h4>
                    <p translate>We guarantee safety for both retailers and online buyers</p>
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/imgs/aboutUs/3.png" alt="">
                    <h4 translate>Verified Sellers</h4>
                    <p translate>Fast delivery on millions of best sellers and everyday essentials</p>
                </div>
            </div>
        </div>
        <section id=" about">
            <div class="row">
                <div class="col-md-8">
                    <section id="History-Company">
                        <h3 translate>History Of Company</h3>
                        <p translate>quaerat repudiandae in nisi officia molestias!Lorem ipsum dolor sit amet
                            consectetur adipisicing elit Rerum amet labore voluptates sed qui atque consectetur
                            temporeitaque molestiasLorem ipsum dolor sit amet consectetur adipisicing elit. Rerum amet
                            labore voluptates sed qui atque consectetur tempore itaque sequi illum corrupti ducimus
                            minima nostrum quaerat repudiandae in nisi ipsum dolor sit amet consectetur adipisicing
                            elit. Rerum amet labore voluptates sed qui atque consectetur tempore itaque sequi ducimus
                            minima nostrum quaerat repudiandae in nisi ipsum dolor sit amet consectetur adipisicing
                            elit. Rerumametlabore voluptates sed qui atque consectetur tempore itaque sequi ducimus
                            minima nostrum quaerat repudiandae in nisiofficia molestias! officia molestias!Loremipsum
                            dolor sit amet consectetur adipisicing elit. Rerum amet labore voluptates sed quiatque
                            consectetur tempore itaque sequiillum corrupti ducimus minima nostruquaeratrepudiandae in
                            nisiofficia molestias</p>
                    </section>
                </div>
                <div class="col-md-4">
                    <aside>
                        <a class="btn accordBtn" data-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample" translate>
                            Our Company is <i class="fas fa-angle-down ml-3"></i>
                        </a>

                        <div class="collapse accordCollapse" id="collapseExample">
                            <div class="card card-body">
                                <p translate> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore
                                    wesandersoncred nesciunt sapiente ea proident.</p>
                            </div>
                        </div>
                        <a class="btn accordBtn" data-toggle="collapse" href="#rigesterCollpase" role="button"
                            aria-expanded="false" aria-controls="collapseExample" translate>
                            How do I register? <i class="fas fa-angle-down ml-3"></i>
                        </a>

                        <div class="collapse accordCollapse" id="rigesterCollpase">
                            <div class="card card-body">
                                <p translate> Click “Create an Account” on the upper right corner of any page on
                                    Diaa.com
                                </p>
                            </div>
                        </div>

                        <a class="btn accordBtn" data-toggle="collapse" href="#LoginCollapse" role="button"
                            aria-expanded="false" aria-controls="collapseExample" translate>
                            How do I login?<i class="fas fa-angle-down ml-3"></i>
                        </a>

                        <div class="collapse accordCollapse" id="LoginCollapse">
                            <div class="card card-body">
                                <p translate> Click “Sign in” on the upper right corner of any page of Diaa.com.</p>
                            </div>
                        </div>

                        <a class="btn accordBtn" data-toggle="collapse" href="#ForgorPass" role="button"
                            aria-expanded="false" aria-controls="collapseExample" translate>
                            I forgot my password, what do I do?<i class="fas fa-angle-down ml-3"></i>
                        </a>

                        <div class="collapse accordCollapse" id="ForgorPass">
                            <div class="card card-body">
                                <p translate>Click Sign in on upper right corner of any Diaa.com page, then click Forgot
                                    your password? and enter the email address you used to register. We will send you an
                                    email with instructions for resetting your password.</p>
                            </div>
                        </div>
                        <a class="btn accordBtn" data-toggle="collapse" href="#orderHistroy" role="button"
                            aria-expanded="false" aria-controls="collapseExample" translate>
                            How can I track my order history?<i class="fas fa-angle-down ml-3"></i>
                        </a>

                        <div class="collapse accordCollapse" id="orderHistroy">
                            <div class="card card-body">
                                <p translate>To view your orders, login into your account. There you will see your
                                    history broken down by New Sales Order, Confirmed Sales Order, Cancelled Sales Order
                                    and Returned order.</p>
                            </div>
                        </div>
                    </aside>
                </div>

            </div>
        </section>
    </div>
</div>