<div id="contactUs" class="my-5 signUp">
    <div class="container">
        <h1 class="text-center" translate>Contact Us</h1>
        <nav aria-label="Page breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page" translate>Home</li>
                <li class="breadcrumb-item" translate>Contact Us</li>
            </ol>
        </nav>
        <section id="Contact">
            <div class="row">
                <div class="col-md-4">
                    <app-contact-side-bar-comp></app-contact-side-bar-comp>
                </div>
                <div class="col-md-8">
                    <app-contact-form-comp></app-contact-form-comp>
                </div>
            </div>
        </section>
    </div>
</div>