<section id="newsLetter" class="text-center bg-white my-3">
    <h3 translate>NewsLetter</h3>
    <img class="d-block mx-auto mb-3 img-fluid" src="../../../../../assets/imgs/newsletter/news.png" alt="...">
    <span class="d-block mb-3" translate>Get Latest Updates ! Sign Up For Free.</span>
    <form action="" method="post" class="form-group">
        <input type="email" class="form-control mb-2" name="" placeholder="{{'Email' | translate}}">
        <button class="form-control" type="button" translate>Subscribe</button>
    </form>
</section>