<aside>
    <div class="address">
        <img src="../../../../assets/imgs/contactUS/1.png" alt="">
        <div class="add-content">
            <h3 translate>Address</h3>
            <span translate>Shiben El-Kom</span>
        </div>
    </div>
    <div class="address">
        <img src="../../../../assets/imgs/contactUS/2.png" alt="">
        <div class="add-content">
            <h3 translate>TelePhone</h3>
            <span>012-000000</span>
        </div>
    </div>
    <div class="address">
        <img src="../../../../assets/imgs/contactUS/3.png" alt="">
        <div class="add-content">
            <h3 translate>Email</h3>
            <span>diaaibrahiem646@gmail.com</span>
        </div>
    </div>
</aside>