<!-- blog section  -->
<section id="blog">
    <h3 translate>Latest Blog</h3>
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-3">
            <div class="blogPost">
                <img class="img-fluid" src="../../../../../assets/imgs/blog/1.jpg" alt="">
                <p translate>Lorem Ipsum Dolor Sit Amet Consectetur
                </p>
                <span class="d-inline-block" style="color: #656565; ">19/78/322 * <span class="d-inline-block">5
                        {{'comments'|translate}}</span></span>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-3">
            <div class="blogPost">
                <img class="img-fluid" src="../../../../../assets/imgs/blog/2.jpg" alt="">
                <p translate>Lorem Ipsum Dolor Sit Amet Consectetur
                </p>
                <span class="d-inline-block" style="color: #656565; ">19/78/322 * <span class="d-inline-block">5
                        {{'comments'|translate}}</span></span>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-3">
            <div class="blogPost">
                <img class="img-fluid" src="../../../../../assets/imgs/blog/3.jpg" alt="">
                <p translate>Lorem Ipsum Dolor Sit Amet Consectetur
                </p>
                <span class="d-inline-block" style="color: #656565; ">19/78/322 * <span class="d-inline-block">5
                        {{'comments'|translate}}</span></span>
            </div>
        </div>
    </div>
</section>
<!-- blog section  -->