<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="first-footer">
                    <img class="img-fluid" src="../../../../assets/imgs/footer-logo.png" alt="">
                    <p translate>Nam pretium et orci eget vestibulum. Aenean pellentesque, quis vulputate eros elit eu
                        ligula.
                        Ut nec lacus congue, fermentum nulla sed, congue.</p>
                    <span translate>FOLLOW US</span>
                    <ul class="list-unstyled d-flex">
                        <li> <a href=""> <i class="fab fa-facebook-f"></i> </a> </li>
                        <li> <a href=""> <i class="fab fa-twitter"></i> </a> </li>
                        <li> <a href=""> <i class="fab fa-linkedin-in"></i> </a> </li>
                        <li> <a href=""> <i class="fas fa-rss"></i> </a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 d-none d-sm-block">
                <div class="second-footer">
                    <h3 translate>INFORMATION</h3>
                    <ul class="list-unstyled">
                        <li> <a href="#" translate> About us </a> </li>
                        <li> <a href="#" translate> Delivery Information </a> </li>
                        <li> <a href="#" translate> Privacy Policy </a> </li>
                        <li> <a href="#" translate> Contact Us </a> </li>
                        <li> <a href="#" translate> Special </a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="third-footer">
                    <h3 translate>My Account</h3>
                    <ul class="list-unstyled">
                        <li> <a href="#" translate>Orders </a> </li>
                        <li> <a href="#" translate> My Account </a> </li>
                        <li> <a href="#" translate> NewsLetter</a> </li>
                        <li> <a href="#" translate> Downloads </a> </li>
                        <li> <a href="#" translate> Account Details </a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Contact-US">
                    <h3 translate>Contact Us</h3>
                    <ul class="list-unstyled">
                        <li> <a href=""> <i class="fas fa-envelope"></i>diaaibrahiem646@gmail.com </a> </li>
                        <li> <a href=""> <i class="fas fa-map-marker" translate></i> 15 St / Shiben El-Kom</a> </li>
                        <li> <a href=""> <i class="fas fa-phone-alt"></i> 012-0000000 </a> </li>
                    </ul>
                    <h3 style="text-transform: uppercase" class="mt-3 d-inline-block" translate>Payment</h3>
                    <ul class="list-unstyled d-flex payment-method">
                        <li> <a href=""> <i class="fab fa-cc-visa"></i> </a> </li>
                        <li> <a href=""> <i class="fab fa-cc-mastercard"></i></a> </li>
                        <li> <a href=""> <i class="fab fa-cc-paypal"></i> </a> </li>
                        <li> <a href=""> <i class="fab fa-cc-mastercard"></i></a> </li>
                    </ul>
                </div>
            </div>

        </div>
        <section id="rights" class="text-center">
            <p translate>All Right reserved to @diaaibrahiem646</p>
        </section>
    </div>
</footer>