<!-- properties section  -->
<section id="properties" class=" my-4">
    <div class="row">
        <div class="col-md-6 col-lg">
            <div class="property-item d-flex mb-3 ">
                <img src="../../../../../assets/imgs/properties/1.svg" alt="">
                <div class="item d-flex flex-column">
                    <h5 translate>Special Gift Cards</h5>
                    <span translate>Give A Perfect Gift</span>
                </div>
            </div>
            <div class="property-item d-flex mb-3">
                <img src="../../../../../assets/imgs/properties/2.svg" alt="">
                <div class="item d-flex flex-column">
                    <h5 translate>Secure Payment</h5>
                    <span translate>100% Secure Payment</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg">
            <div class="property-item d-flex mb-3">
                <img src="../../../../../assets/imgs/properties/3.svg" alt="">
                <div class="item d-flex flex-column">
                    <h5 translate>24/7 Support</h5>
                    <span translate>Online Support 24/7</span>
                </div>
            </div>
            <div class="property-item d-flex mb-3">
                <img src="../../../../../assets/imgs/properties/4.svg" alt="">
                <div class="item d-flex flex-column">
                    <h5 translate>Free Shipping</h5>
                    <span translate>On Order Over $101</span>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- properties section  -->